*{
  padding: 0;
  margin: 0;
}

.container{
  margin-top: 2%;
}
#book-form{
  margin-bottom: 2%;
}
.form-control , #button{
  width: 40%;
}

.table-striped{
  display: none;
  margin-top: 1%;
}

